/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: #bde0fe;
    font-family: "Pacifico", cursive;
}

h1 {
    color: #ff4a8c;
    /* border-bottom: 1px solid #ff4a8cd4; */
    margin-bottom: 40px;
}

img {
    width: 40%;
    margin: 20px 0;
}

#main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;


}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.button-div {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    width: 100%;
}

#yes-button {
    border: none;
    font-size: 2em;
    padding: 5px 40px;
    background-color: #ff4a8c;
    /* border: 5px solid #ff2a78; */
    border-radius: 6px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 50ms ease-in, transform 50ms ease-in;
    color: #ffd0e2;
}

#no-button {
    border: none;
    font-size: 2em;
    padding: 5px 40px;
    background-color: #b46cde;
    /* border: 5px solid #ff2a78; */
    border-radius: 6px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #ffd0e2;
}

#yes-button:hover {
    background-color: #ff6aa0;
    transform: translateY(-3px);

}

#no-button:hover {
    background-color: #b87ad6;
    transform: translateY(-3px);
}

@media (min-width: 900px) {
    #main-div {
        max-width: 50%;
    }
}